In [2]:
<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

SyntaxError: invalid syntax (<ipython-input-2-1fbb355d22f8>, line 1)

In [3]:
# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [6]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [9]:
data[(data['sex']=='Female')]['sex'].count(), data[(data['sex']=='Male')]['sex'].count()

(10771, 21790)

In [10]:
**2. Каков средний возраст (признак *age*) женщин?**

SyntaxError: invalid syntax (<ipython-input-10-9d5aa6f17c4c>, line 1)

In [11]:
data[(data['sex']=='Female')]['age'].mean()

36.85823043357163

In [12]:
**3. Какова доля граждан Германии (признак *native-country*)?**

SyntaxError: invalid syntax (<ipython-input-12-453deb7f7c06>, line 1)

In [13]:
me=[]
k=0.0
count=0
for x in data['native-country']:
    if x == 'Germany':
        count+=1
s=count    
k=(count/len(data['native-country']))*100
print(k)

0.42074874850281013

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [14]:
data[(data['salary']=='>50K')]['age'].mean(), data[(data['salary']=='>50K')]['age'].std(),\
data[(data['salary']=='<=50K')]['age'].mean(), data[(data['salary']=='<=50K')]['age'].std()

(44.24984058155847, 10.51902771985177, 36.78373786407767, 14.020088490824813)

In [15]:
**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

SyntaxError: invalid syntax (<ipython-input-15-39490741463d>, line 1)

In [16]:
count=0
ms=[]
nope=0
df = pd.DataFrame(data,columns=['salary','age','education'])

for x in df[(df['salary']=='>50K')]['education']:
    if x=='Bachelors' or x=='Prof-school' or x=='ssoc-acdm' or x=='Assoc-voc' or x=='Masters' or x=='Doctorate':
        count+=1
    else: nope+=1
    
df['yes']=count
df['no']=nope
if count>nope:
    print('Yes')
elif count<nope:
    print('No')
else: print('Equal')

Yes

In [17]:
# df3=pd.crosstab(data['sex'],data['race'])
df3 = data[(data['sex']=='Male') &(data['race']=='Amer-Indian-Eskimo')]
df3['age'].max()

82

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [18]:
d1 = data[(data['salary']=='>50K')&(data['marital-status'].str[:7]=='Married')]
d2 = pd.DataFrame(d1, columns = ['marital-status','sex'])
d3=d2.groupby('sex')['marital-status'].agg(['count'])
d4=data[(data['salary']=='>50K')&(data['marital-status'].str[:7]!='Married')]
d5=pd.DataFrame(d4, columns = ['marital-status','sex'])
d6=d5.groupby('sex')['marital-status'].agg(['count'])
# h = d3.loc[['Female']]+d3.loc[['Male']]
# m = d6.loc[['Female']]+d6.loc[['Male']]
h=d3.sum()
m=d6.sum()
if h['count']>m['count']:
    print('Доля зарабатывающих >50K - среди женатых')
else: print('Доля зарабатывающих >50K - среди холостых')
# newy=pd.concat([d3, d6])
# newy

Доля зарабатывающих >50K - среди женатых

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [52]:
df=pd.DataFrame(data, columns = ['hours-per-week','salary'])
fb=data[data['hours-per-week']==data['hours-per-week'].max()]
hm=data.groupby(fb['hours-per-week'])['hours-per-week'].agg(['count'])
hm

                count
hours-per-week
99.0               85

In [53]:
maxsal=df[df['salary']=='>50K']
df[( (df['hours-per-week']==data['hours-per-week'].max()))]['salary'].value_counts(normalize=True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [80]:
df=pd.DataFrame(data, columns = ['hours-per-week','salary', 'native-country'])
df.sort_values(by='native-country',ascending=False)
df.groupby(['salary','native-country'])['hours-per-week'].agg(np.mean)

salary  native-country
<=50K   ?                             40.164760
        Cambodia                      41.416667
        Canada                        37.914634
        China                         37.381818
        Columbia                      38.684211
        Cuba                          37.985714
        Dominican-Republic            42.338235
        Ecuador                       38.041667
        El-Salvador                   36.030928
        England                       40.483333
        France                        41.058824
        Germany                       39.139785
        Greece                        41.809524
        Guatemala                     39.360656
        Haiti                         36.325000
        Holand-Netherlands            40.000000
        Honduras                      34.333333
        Hong                          39.142857
        Hungary                       31.300000
        India                         38.233333
        Iran                          41.440000
        Ireland                       40.947368
        Italy                         39.625000
        Jamaica                       38.239437
        Japan                         41.000000
        Laos                          40.375000
        Mexico                        40.003279
        Nicaragua                     36.093750
        Outlying-US(Guam-USVI-etc)    41.857143
        Peru                          35.068966
                                        ...
>50K    France                        50.750000
        Germany                       44.977273
        Greece                        50.625000
        Guatemala                     36.666667
        Haiti                         42.750000
        Honduras                      60.000000
        Hong                          45.000000
        Hungary                       50.000000
        India                         46.475000
        Iran                          47.500000
        Ireland                       48.000000
        Italy                         45.400000
        Jamaica                       41.100000
        Japan                         47.958333
        Laos                          40.000000
        Mexico                        46.575758
        Nicaragua                     37.500000
        Peru                          40.000000
        Philippines                   43.032787
        Poland                        39.000000
        Portugal                      41.500000
        Puerto-Rico                   39.416667
        Scotland                      46.666667
        South                         51.437500
        Taiwan                        46.800000
        Thailand                      58.333333
        Trinadad&Tobago               40.000000
        United-States                 45.505369
        Vietnam                       39.200000
        Yugoslavia                    49.500000
Name: hours-per-week, Length: 82, dtype: float64